body{
    width: 100%;
    background-color: var(--colorGris-claro);
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1 {
    font-size: 24px;
}

/* Header */

header{
    background-color: var(--colorAmarillo);
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    justify-content: space-evenly;
}

.logo{
    width: 50%;
    *padding: 2vh 0 8px 5%
}

.searchbar{
    *margin-left: 16px; 
    height: 14px;
    width: 50%;
    background-color: var(--colorGris-claro);
    color: var(--colorGris-oscuro);
    border: 1px solid var(--colorGris-claro);
    border-radius: 2px;
}

.search{
    *margin-left: 16px; 
    background-color: var(--colorGris-claro);
    text-align: center;
    width: 14px;
    border: 1px solid var(--colorGris-claro);
    border-radius: 2px;
}

.compra{
    text-align: center;
    height: fit-content;
}

header ul{
    list-style: none;
    display: block;
    padding: 0;
}

header ul i{
    padding-left: 2px;
}

.sitenavbar{
    display: none;    
}

.loginbar{
    display: none;
}

.burger-menu{
    text-align: center;
    padding: 12px 0 24px 0;
    height: fit-content;
}

.burger-menu i{
    color: var(--colorGris-claro);
    padding: 10px 12px;
    font-size: 24px;
    background-color: var(--colorCeleste);
    border-radius: 5px;
}

/* Main */

.banner{
    width: 100%;
}

.basedlastview{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.basedlastview h1{
    width: 100%;
}

.offers{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.offers h1{
    width: 100%;
}

.producto{
    background-color: white;
    width: 100%;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
}

.producto img{
    width: 100%;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.producto i{
    color: #39b54a;
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: relative;
    left: 80%;
    top: 3vh;
}

.product__info{
    border-top: 1px solid #ebebeb;
    padding: 15px;
}

.product__info--superior{
    display: flex;
    align-items: center;
}

.precio{
    font-size: 18px;
    width: 30%;
    display: block;
}

.descuento{
    color: #39b54a;
    font-size: 16px;
    width: 70%;

    display: block;
}

.product__info h3{
    font-size: 16px;
    margin: 0;
    display: none;
}



/* Footer */

footer{
    background-color: white;
    padding: 5% 0;
}

footer div{
    text-align: center;
    padding: 5%;
}

footer div i{
    color: var(--colorCeleste);
    font-size: 32px;
}

footer h3{
    font-size: 16px;
}

footer p{
    font-size: 12px;
}

.copy{
    padding-left: 5%;
}

/* Adaptative */

@media (min-width: 361px){
    
    /* Header */

    .sitenavbar{
        display: block;    
    }
    
    .loginbar{
        display: block;
    }

    .burger-menu{
        display: none;
    }

    /* Main */

    .producto{
        box-shadow: 0px 0px 10px rgb(100,100,100);
        width: 45%;
    }
    
    .product__info h3{
        display: block;
    }

    .product__info--superior{
        text-align: center;
    }

}

@media (min-width: 769px){

    .producto{
        width: 20%;
    }


}